.line {
  height: 1.5rem;
  width: 0px;
  border: 1px solid black;
  margin: 0% 10px;
  align-items: center;
  display: inline-block;
}

#alphabet .row {
  display: none;
}



p{
  margin: 3% 0;
  font-style: arial;
  font-size: 15px;
  

}

button {
  background: lightgray;
}

#head {
  left: 50%;
  top: 24%;
}

#body {
  left: 50%;
  top: 28%;
}

#left-arm {
  left: 47.9%;
  top: 21%;
}

#right-arm {
  left: 54%;
  top: 22%;
}

#left-leg {
  left: 48.3%;
  top: 38%;
}

#right-leg {
  left: 52%;
  top: 38%;
}

.meeseeks {
  display: none;
  max-height: 300px;
  max-width: 200px;
  z-index: 10;
  position: absolute;
  ;
}

#play {
  position: fixed;
}

#lineRow {
  margin: 5%;
}

body {
  height: 100%;
  width: auto;
}

@media only screen and (max-width: 500px) {
    #alphabet .row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
}
