.line {
  height: 2rem;
  border: 2px solid black;
  margin-left: 5%;
  display: inline-block;
}


.wrongGuess{
  height: 20%;
  margin: 0;
}

aside{
  font-size: 2rem;
  margin: 0;
  width: 20%;
  height: 100%;
}

#alphabet .row {
  display: none;
}

section{
  width: 80%;
  background-color: #8AE67F;
  min-width: 80%;
  max-width: 80%;
}


#p{
  font-size: 1.2em;
  font-weight: bold;
  border: 2px solid black;
}


#x{
  display: none;
  margin: 0 auto;

}

button {
  background: lightblue;
}

#head {
  left: 50%;
  top: 24%;
}

#body {
  left: 50%;
  top: 28%;
}

#left-arm {
  left: 47.9%;
  top: 21%;
}

#right-arm {
  left: 54%;
  top: 22%;
}

#left-leg {
  left: 48.3%;
  top: 38%;
}

#right-leg {
  left: 52%;
  top: 38%;
}

.meeseeks {
  display: none;
  max-height: 300px;
  max-width: 200px;
  z-index: 10;
  position: absolute;
}

#play {
  position: fixed;
}

#lineRow {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5% 0;
}

.main{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
}

body {
  font-family: 'Bree Serif', serif;
  height: 100%;
  width: auto;
  background: tomato;

}

@media only screen and (max-width: 900px) {
#alphabet .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
    .main{
      width: 90%;
      margin: 0;
    }

      aside{
        background: tomato;
        font-size: 2rem;
        margin: 0;
        width: 10%;
        padding-bottom: 80%;
        height: 100%;
      }
    }

}
}

@media only screen and (max-width: 500px) {
